@model List<RestaurantBul.Models.Place>


<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Surjith S M">
    <meta name="description" content="#">
    <meta name="keywords" content="#">

    <script src="../../cdn-cgi/apps/head/-mEFVS8y7qx5pVzWHQTCQu5gnVM.js"></script>
    <link rel="shortcut icon" href="#">

    <title>Listed</title>

    <link rel="stylesheet" href="~/Content/tempp/Sablon/listed/css/bootstrap.min.css">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">

    <link rel="stylesheet" href="~/Content/tempp/Sablon/listed/css/themify-icons.css">

    <link rel="stylesheet" href="~/Content/tempp/Sablon/listed/css/simple-line-icons.css">

    <link rel="stylesheet" href="~/Content/tempp/Sablon/listed/css/font-awesome.min.css">

    <link href="~/Content/tempp/Sablon/listed/css/set1.css" rel="stylesheet">

    <link rel="stylesheet" href="~/Content/tempp/Sablon/listed/css/style.css">
</head>

<body>









    <section class="featured-wrap">
        <div class="container-fluid container-subpage">
            <div class="row">
                <div class="col-md-12 responsive-wrap">
                    <div class="row detail-filter-wrap">
                        <div class="row">

                            @foreach (var item in Model)

                            {
                                <div class="col-md-4 card-2">

                                    <div class="card">
                                        <a href="@Url.Action("PlaceDetails","Places",new { id = item.PlaceID })"><img class="card-img-top" src="@item.MenuPic" alt="Card image cap"></a>
                                        <div class="card-body">
                                            <h5 class="card-title">@item.PlaceName</h5>
                                            <ul class="card-rating">
                                                <li>5.0</li>
                                                @*<li> <a href="@Url.Action("Index","Comments")" style=" color:tomato">Yorumlar</a></li>*@
                                                <li><i class="fa fa-circle" aria-hidden="true"></i></li>
                                                <li>@item.AvgPrice tl</li>
                                                <li><i class="fa fa-circle" aria-hidden="true"></i></li>
                                                <li>@item.CategoryName</li>
                                            </ul>

                                        </div>
                                        @if (this.User.Identity.IsAuthenticated)
                                        {
                                            <div class="form-group">
                                                <div class="col-md-offset-2 col-md-10">

                                                    <a href="@Url.Action("Create", "Comments", new { Id = item.PlaceID })" type="button" class="btn btn-default" style="background-color:tomato ; color:white">Yorum Yap</a>

                                                </div>
                                            </div>
                                        }

                                            <div class="card-bottom">
                                                <p><i class="ti-location-pin"></i>@item.County</p>
                                                <span>@item.OpenTime - @item.CloseTime</span>
                                            </div>
                                        </div>
                                </div>}











                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/script.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?callback=myMap&amp;key=AIzaSyDMTUkJAmi1ahsx9uCGSgmcSmqDTBF9ygg"></script>

</body>



